.rodape {
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	font-size: 0.7rem;
}
.rodape li:hover {
	font-weight: 900;
}
.rodape__logo {
	width: 11.25em;
	margin-bottom: 1em;
}
.rodape__lista_midias_sociais {
	display: flex;
	justify-content: center;
}
.rodape__infos_empresa {
	line-height: 1.5;
}
.rodape__lista_midias_sociais {
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
.rodape__item_midias_sociais {
	width: 2.62em;
	margin: 0 .25em;
}
.rodape__ite_midias_sociais img {
	width: 100%;
}
.rodape__titulo {
	margin-bottom: 1em;
	font-size: 1.45em;
	font-weight: bold;
	text-transform: uppercase;
}
.rodape_item_lista {
	font-weight: 500;
	margin: 0.625em 0;
}
@media (max-width: 640px) {
	.rodape__secao + .rodape__secao {
		margin-top: 2em;
	}
}
@media(min-width: 640px) and (max-width: 1200px) {
	.rodape {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1rem;
	}
	.rodape__secao__sobre,
	.rodape__secao__cursos,
	.rodape__secao__links,
	.rodape__secao__newsletter {
		width: 45%;
	}
	.rodape__secao__cursos {
		order: 1;
		margin: 0;
	}
	.rodape__secao__links {
		order: 2;
		margin: 0;
	}
	.rodape__secao__sobre {
		order: 3;
		margin-top: 2em;
	}
	.rodape__secao__newsletter {
		order: 4;
		margin-top: 2em;
	}
}
@media(min-width: 1200px) {
	.rodape {
		display: flex;
		justify-content: space-between;
		font-size: 0.85rem;
		text-align: left;
	}
	.rodape__titulo {
		font-size: 1em;
	}
	.rodape___{
		justify-content: left;
	}
	.rodape__secao {
		margin-top: 0;
	}
	.rodape__secao + .rodape__secao {
		margin-left: 2em;
	}
}