.sobre img {
	margin: 2rem;
	
	border-radius: 2rem;
	width: 30%;
	height: 30%;
}

.sobre {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}